body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornsilk;
    margin: 0;
    padding: 0;
    color: #333;

}

.header{
    background-color: cornflowerblue;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
}

.intro{
    background-color: white;
    padding: 50px;
}