:root {
    --bg-color: #0093E9;
    --text-color: black;
    --border-color: #40587c;
    --button-text-color: rgb(131, 217, 136);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: var(--bg-color);
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.form {
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: calc(400px * 0.08);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.option {
    display: flex;  
    margin: 10px 0;
}


.option input {
    margin-right: 10px;
}

#password:disabled {
    cursor: not-allowed;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 0;
    font-weight: 500;
    width: 100%;
    font-size: 1.8rem;
    color: var(--text-color);
    border-radius:  12px;
    border: none;
}

#button-copy {
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    margin: 10px 0;
    font-family: inherit;
}

#generate-button {
    margin: 0 auto;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-family: inherit;
  }